.loader{
    width: 200px;
    height: 200px;
    /* background-color: aqua; */
    border-radius: 50%;
    border: 20px solid #ffe66D;
    border-top: 20px solid #4ECDC4;
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes spin{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}